<%= form_tag searches_path, method: :post do %>
    <%#= Your input tags %>
    
    <h1>zip</h1>
    <button>submit</button>
    <%= text_field_tag(:zip)%>
    <%= submit_tag("Search")%>
<% end %>