<h1> Search Results</h1>

<h2> Add to results page:</h2>
<ol>
    <li>Display res.body</li>
    <li>individual fields</li>
    <li>Save to WeatherReport/Cache</li>
</ol>

<%= render :partial => 'search_results', :object => @results %>






